.leader{
  background-color: yellow;
}

.not_selected {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}
#game_buttons{
  display: none;
}
#game_messages, #game_buttons{
  text-align:center;
}
@media all and (max-width: 470px) {
  #game_messages, #game_summary, #game_messages_modal{
    font-size: 8pt;
  }

  .extra_info{
    display: none;
  }
  .table-condensed, #game_summary, th, tr, tbody, table, td, .game_table > tbody > tr > th, .game_table > tbody > tr > td
  {
    padding: 0; !important;
    margin: 0; !important;
    border-spacing: 0px;
  }
  #vote, #submit_mission, #pass_mission_div, #fail_mission_div{
    margin-top: 5px;
  }
  #voting_row,#success_voting_div,#reject_voting_div{
    margin-top: 0px;
  }
  .players-to-select{
    font-size: 10pt;
  }
  .selected_icon{
    height: 10px;
    width: 10px;
  }
  .success_cell{
    background-color: limegreen;
    font-weight: bold;
    border: solid black 1px;
    text-align: center;
  }
  .fail_cell{
    background-color: red;
    font-weight: bold;
    border: solid black 1px;
    text-align: center;
  }
  .success_mission_img, .fail_mission_img{
    width : 50px;
    height : 65.33333333px;
  }

  .selected_for_team{
    border: solid darkviolet;
    font-style: italic;
  }
  .approved_vote_selected{
    background-color: lawngreen !important;
  }
  .rejected_vote_selected{
    background-color: orangered !important;
  }

}
@media all and (max-width: 470px) {
  .modal-vertical-centered {
    padding-top: 50%;
  }
}
@media all and (min-width: 470px){
  .vote_selected{
    outline: 5px solid green;
  }

  .submit_mission_selected{
    outline: 5px solid purple;
  }
}
@media all and (min-width: 470px) and (max-width: 768px) {
  .modal-vertical-centered {
    padding-top: 80%;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .modal-vertical-centered {
    padding-top: 40%;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .modal-vertical-centered {
    padding-top: 28%;
  }
}
@media all and (min-width: 1200px) {
  .modal-vertical-centered {
    padding-top: 27%;
  }
}
#player_name_bar,#game_id_bar{
  background-color: lightgray;
}
.failed_mission{
  background-color: darkred;
}
.mission_cell,.vote_cell,#game_summary {
  text-align: center;
}

.selected{
  font-style: italic;
}
.relevant_player{
  background-color: indianred;
  opacity: 1;
  filter:alpha(opacity=100);
  z-index:9900;
}
.modal-vertical-centered{

  filter: alpha(opacity=10);
}


.approved_vote{
  background-color: lightgreen;
}

.rejected_vote{
  background-color: lightsalmon;
}

.current_vote_1{
  background-color: #01A46D;
}
.current_vote_2{
  background-color: #377FC7;
}
.current_vote_3{
  background-color: #F5D800;
}
.current_vote_4{
  background-color: #FF9B2B;
}
.current_vote_5{
  background-color: #EC3E40;
}
.current_mission{
  background-color: lightgray;
}
.mission_success{
  background-color: limegreen;
}
.mission_failed{
  background-color: red;
}
#luke_circle{
  position: relative;
}
.player_class{
  position: absolute;
}
canvas {
  display : block;
  margin : auto;
}

#game_summary{
  border: solid #000000;
  background-color: lavenderblush;
}

#luke_circle{
  border: solid #000000;
  background-color: azure;
}

.row-bottom-margin {
  margin-bottom:20px;
  background-color: bisque;
  border: solid black thin;
}
[class*="col-"] {
  padding: 0px;
  margin-right: 0px;

}
