doctype html
html
	head
		title= "Real time web chat"
		script(src='//code.jquery.com/jquery-1.10.1.min.js')
		link(rel='stylesheet', href='/css/lib/bootstrap.css')
		link(rel='stylesheet', href='/css/lib/bootstrap-responsive.css')
		link(rel='stylesheet', href='/css/grid.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div.container
			div.row.nav-bar
				div.col-md-3.col-xs-5
					|Luke
				div.col-md-9.col-xs-7
					|32434
			div.row.table
				div.col-xs-5
					|table
				div.col-xs-7
					|table2
			div.row.game_missions
				div.col-xs-12
					|missions
			div.row.vote
				div.col-xs-12
					|vote
			div.row.messages
				div.col-xs-12
					|messages
